<div class="container">
    <h1>Contacto</h1>
    <div id="texto" >
        <p [hidden]="false" #textos appResaltado>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda
        </p>
    </div>
    <!-- <input type="number" name="" [(ngModel)]="widthSlider" (keyup)="cargarSlider()" id="">
    <div *ngIf="anchuraToSlider">
        <slider [anchura]="anchuraToSlider" 
                [captions]="caption"
                (getAutor)="conseguirAutor($event)"></slider>
    </div>
    <p *ngIf="autor">
            {{autor.nombre + '' + autor.correo}} 
    </p> -->
</div>