<div id="title">
  <h1>{{about.title}}</h1>
  <h2>{{about.subtitle}}</h2>
  <p>{{about.email}}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    {{about.descripcion}}
  </p>
  <form action="" #aboutForm="ngForm" (ngSubmit)="onSubmit(aboutForm)">

    <label for="name">Titulo</label>
    <input type="text" name="title" id="" #title="ngModel" [(ngModel)]="about.title" required>

    <label for="name">Subtitulo</label>
    <input type="text" name="subtitle" id="" #subtitle="ngModel" [(ngModel)]="about.subtitle" required>
    <span *ngIf="subtitle.touched && !subtitle.valid" class="form_error">
      El subtitulo es obligatorio
    </span>

    <label for="name">Email</label>
    <input type="email" name="email" id="" #email="ngModel" [(ngModel)]="about.email" required>
    <span *ngIf="email.touched && !email.valid" class="form_error">
      El email es obligatorio
    </span>

    <label for="descripcion">Descripcion</label>
    <textarea type="text" name="descripcion" id="" #descripcion="ngModel" [(ngModel)]="about.descripcion"
      required></textarea>
    <span *ngIf="descripcion.touched && !descripcion.valid" class="form_error">
      La descripcion es obligatoria
    </span>

    <input type="submit" value="Enviar" [disabled]="!aboutForm.form.valid">
  </form> <br>
</article>
