<div class="container" *ngIf="project">
    <h2>{{title}}</h2>
    <div class="message success" *ngIf="status == 'success'">
        El proyecto se ha creado correctamente, puedes <a [routerLink]="['/proyecto', saveProject._id]">verlo aqui</a>.
    </div>
    <div class="message failed" *ngIf="status == 'failed'">
        El proyecto no se ha podido crear.
    </div>
    <form action="" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="" #name="ngModel" [(ngModel)]="project.name" required>
            <span *ngIf="name.touched && !name.valid" class="form_error">
                El nombre es obligatorio
            </span>
        </p>

        <p>
            <label for="descripcion">Descripcion</label>
            <textarea type="text" name="descripcion" id="" #descripcion="ngModel" [(ngModel)]="project.descripcion"
                required></textarea>
            <span *ngIf="descripcion.touched && !descripcion.valid" class="form_error">
                La descripcion es obligatoria
            </span>
        </p>

        <p>
            <label for="category">Categoria</label>
            <input type="text" name="category" id="" #category="ngModel" [(ngModel)]="project.category" required>
            <span *ngIf="category.touched && !category.valid" class="form_error">
                La categoria es obligatoria
            </span>
        </p>

        <p>
            <label for="year">Años</label>
            <input type="number" name="year" id="" #year="ngModel" [(ngModel)]="project.year" required>
        </p>

        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" id="" #langs="ngModel" [(ngModel)]="project.langs" required>
            <span *ngIf="langs.touched && !langs.valid" class="form_error">
                Los lenguajes son obligatorios
            </span>
        </p>

        <p>
            <label for="image">Imagen del proyecto</label>
            <span *ngIf="project.image" style="float: none;">
                <img src="{{project.image}}" *ngIf="project.image" style="width: 100px;" alt="">
            </span><br *ngIf="project.image">
            <input type="file" name="image" id="" placeholder="Subir imagen" required
                (change)="fileChangeEvent($event)">
        </p>

        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
    </form>
</div>
