<div class="container">
  <h2>Proyectos</h2>
  <div *ngIf="!projects" class="center">
    <img src="../../../assets/img/Spinner.gif" class="center-image" alt="">
  </div>
  <ul *ngIf="projects">
    <li *ngFor="let project of projects" class="projects">
      <a [routerLink]="['/proyecto', project._id]">
        <div>
          <img src="{{project.image}}" *ngIf="project.image" alt="">
        </div>
        <h3>
          {{project.name}}
        </h3>
        <p>
          {{project.category}}
        </p>
      </a>
    </li>
  </ul>
</div>
